body,
html {
    margin: 0;
    overflow-x: hidden;
    height: 1000vh;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
}

#scroll-invite {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

#scroll-invite p {
    font-family: 'VT323', monospace;
    /* Ou la police que tu utilises pour le style vaporwave */
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}


.link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Espacement entre les logos */
    justify-content: center;
    /* Centre les logos horizontalement */
    align-items: center;
    /* Centre les logos verticalement */
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Espacement entre les logos */
    justify-content: center;
    /* Centre les logos horizontalement */
    align-items: center;
    /* Centre les logos verticalement */
}

.logo {
    width: 100px;
    /* Largeur des logos, ajuste selon tes besoins */
    height: auto;
    /* Maintient les proportions des logos */
    opacity: 0.8;
    /* Légère transparence pour un effet visuel */
    transition: opacity 0.3s ease;
    /* Effet de transition au survol */
}

.logo:hover {
    opacity: 1;
    /* Augmente l'opacité au survol */
}

.link-logo {
    width: 50px;
    /* Largeur des logos, ajuste selon tes besoins */
    height: auto;
    /* Maintient les proportions des logos */
    opacity: 0.8;
    /* Légère transparence pour un effet visuel */
    transition: opacity 0.3s ease;
    /* Effet de transition au survol */
}

.logo:hover {
    opacity: 1;
    /* Augmente l'opacité au survol */
}

/* Flèche animée */
.arrow {
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: 0 auto;
    animation: bounce 1.5s infinite;
}

/* Animation pour la flèche */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) rotate(45deg);
    }

    40% {
        transform: translateY(10px) rotate(45deg);
    }

    60% {
        transform: translateY(5px) rotate(45deg);
    }
}

/* Conteneur principal avec trois colonnes */
.three-column-container {
    display: block ruby;
    justify-content: space-between;
    /* Espace égal entre les colonnes */
    align-items: center;
    /* Aligner les colonnes en haut */
    gap: 20px;
    width: 100%;
    /* Espacement entre les colonnes */
}

/* Style des colonnes */
.column {
    flex: 1;
    /* Chaque colonne prend une part égale de l'espace disponible */
    width: 49%;
}

/* Police pour les titres */
.title {
    font-family: "Quicksand", sans-serif;
    color: #000;
    font-size: 4rem;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 0px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* Police pour les sous-titres et le reste */
.subtitle {
    font-family: "Quicksand", sans-serif;
    color: #000;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 100px;
    margin-top: 0px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#scene1 {
    position: absolute;
    top: 5px;
    width: 33%; 
    z-index: 10;
    /* Le texte doit apparaître au-dessus du canvas 3D */
}

#scene2 {
    position: absolute;
    top: 200vh;
    width: 50%;
    z-index: 10;
    /* Le texte doit apparaître au-dessus du canvas 3D */
}

#scene3 {
    position: absolute;
    top: 400vh;
    width: 50%;
    z-index: 10;
    /* Le texte doit apparaître au-dessus du canvas 3D */
}

#scene4 {
    position: absolute;
    top: 600vh;
    width: 50%;
    z-index: 10;
    /* Le texte doit apparaître au-dessus du canvas 3D */
}

#scene5 {
    position: absolute;
    top: 800vh;
    width: 100%;
    z-index: 10;
    /* Le texte doit apparaître au-dessus du canvas 3D */
}

#scene6 {
    position: absolute;
    top: 900vh;
    width: 33%;
    z-index: 10;
    /* Le texte doit apparaître au-dessus du canvas 3D */
}

.get-resume {
    margin-top: 50px;
}

/* Effets de glow pour donner un côté vaporwave */
/* .title,
.subtitle {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
} */

